.text {
font-family: AvenirNext-Bold;
font-size: 30px;
color: #FFFFFF;
line-height: 25px;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.50);
margin: 30px auto;
text-align: center;
text-shadow: -1px -1px 0px #696969;
}
body {
background-color: #072121;
}
#Calculator {
position: relative;
border: 1px solid #27D9E3;
width: 380px;
height: 580px;
background-color: #1b1919;
margin: 30px auto;
border-radius: 30px;
min-width: 380px;
min-height: 580px;
-webkit-box-shadow: 0 0 15px #696969;
-moz-box-shadow: 0 0 15px #696969;
box-shadow: 0 0 15px #696969;
}
#totalbill {
left: 15px;
position: relative;
}
#percent {
left: -28px;
position: relative;
}
#percentbox {
position: relative;
left: 49px;
}
#party {
position: relative;
left: 13px;
}
input {
width: 100px;
height: 23px;
font-size: 21px;
border-radius: 19px;
text-align: center;
}
#btnClear {
left: 13px;
top: -10px;
position: relative;
width: 70px;
height: 70px;
background-color: #27D9E3;
border-radius: 100%;
color: #1b1919;
font-family: AvenirNext-Bold;
font-size: 15px;
text-align: center;
}
#btn {
margin-top: ;
top: -11px;
left: 230px;
position: relative;
width: 70px;
height: 70px;
border-radius: 100%;
background-color: #27D9E3;
color: #1b1919;
font-family: AvenirNext-Bold;
font-size: 15px;
text-align: center;
}
#btnClear:hover {
color: red;
background-color: #b5b5b5;
}
#btn:hover {
color: green;
background-color: #b5b5b5;
}
#totalAmt {
top: -5px;
position: relative;
}
#tipPercent {
top: -15px;
position: relative;
color: white;
}
#partyGuest {
top: -33px;
position: relative;
}